dist: trusty
sudo: false
language: generic
#language: c

cache:
  directories:
    - ~/opt
    - ~/Arduino
    - ~/.arduino15

git:
  depth: false
  quiet: true

env:
  global:
     - ARDUINO_IDE_VERSION="1.8.6"

install:
  # We install all the stuff we need
  - source install_env.sh
  # Install boards (Version installed must match the BOARD_VERSION in Makefiles)
  - install_board arduino:avr:1.6.22

script:
  # The source above can mess our path, let's go back to sources:
  - cd ${TRAVIS_BUILD_DIR}
  # We build all our sketches
  - make -C arduino/SIMM_KMM591000__4

notifications:
  email:
    on_success: change
    on_failure: change
